.outer {

    height: 150px;
    background: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer button {
    text-transform: uppercase;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.outer p {
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 3px;
}
.outer a{
    text-decoration: none;
}
@media screen and (width<768px) {
    .outer{
        height: 80px;
    }
}