.cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 30px auto;
}

.line {
    height: 1px;
    width: 350px;
    background: #72727276;
}

.dot {
    height: 5px;
    width: 5px;
    background: var(--yellow);
    border-radius: 50%;
    aspect-ratio: 1/1;
}

@media screen and (width<768px) {
    .cont{
        width: 80vw;
    }
    .line{
        width: 100%;
    }
}