@font-face {
  font-family: Railway;
  src: url('/Railway.woff2');
}

:root {
  --x: 4;
  --x1: 3;
  --black: #18191B;
  --textColor: #eceff3;
  --yellow: #FAB207;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Railway', Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100dvw;
  background: black;
  height: max-content;
  overflow-x: hidden;
}

@media screen and (width<990px) {
  :root {
    --x: 3;
    --x1: 2;
  }
}

@media screen and (width<768px) {
  :root {
    --x: 2;
    --x1: 1;
  }
}

@media screen and (width<480px) {
  :root {
    --x: 1;
  }
}